* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.panel {
    display: flex;
    background-color: rgb(189, 64, 64);
    width: 100%;
    padding: 20px;
}

.panel_button {
    margin: 0px 20px 0px 20px;
    background: none;
    height: fit-content;
    width: fit-content;
    border: none;
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.panel_button_right {
    margin-left: auto;
    align-self: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.copyright {
    color: white;
    align-self: center;
}

.site_content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 30px;
    margin: 40px;
    text-align: left;
}

.color {
    color: rgb(189, 64, 64);
}