* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.panel {
    display: flex;
    background-color: rgb(189, 64, 64);
    width: 100%;
    padding: 20px;
}

.panel_button {
    margin: 0px 20px 0px 20px;
    background: none;
    height: fit-content;
    width: fit-content;
    border: none;
    color: white;
    font-size: 20px;
}

.panel_button_right {
    margin-left: auto;
    align-self: flex-end;
}

.title {
    font-size: 30px;
    margin: 40px;
    text-align: left;
}

.color {
    color: rgb(189, 64, 64);
}

.search_bar {
    display: flex;
    justify-content: center;
    margin: 20px 40px 0px 40px;
    height: 50px;
    border: 2px;
    border-style: solid;
    border-radius: 5px;
}

.input {
    width: 97%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-align: left;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.mentor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 5px;
    margin: 20px;
    justify-content: space-around;
    padding: 10px;
    border: 2px;
    border-style: solid;
    width: 400px;
}

.mentor_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mentor_pic {
    margin: 5px;
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.mentor_descript1 {
    margin: 5px;
    font-size: 20px;
}

.mentor_descript2 {
    margin: 5px;
    font-size: 15px;
    color: darkgray;
}